* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

nav ul {
  padding: 8px 16px;
  list-style: none;
  display: flex;
  justify-content: space-between;

}

.nav__name li a {
  color: black;
  text-decoration: none;


}

.nav__name strong {
  font-weight: 700;
 
}
 


.nav__name {
  padding: 8px 16px;
  letter-spacing: 4px;
  color: black;
}
.nav__name:hover{
  background-color: #00000044;
}


.nav__list {
  padding: 8px 16px;
  display: flex;
}


.nav__list li a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  letter-spacing: 4px;
}

.nav__list li a:hover {
  background-color: #00000044;
}

header {
  background-image: url("https://www.w3schools.com/w3images/architect.jpg");
  min-height: 800px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
}


.header__name {
  margin-top: 16px;

}

.header__name h1 {
  margin: 10px 0;
  color: white;
  font-size: 36px
}

.header__name .first-item {
  font-size: 36px;
  padding: 8px 16px;
  background-color: #000;
  opacity: 0.75;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  
}
.header__name .second-item{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

main {
  max-width: 1564px;
  margin: 0 auto;
}

.section__projects {
  padding: 32px 16px;

}

.section__projects h3 {
  border-bottom: 1px solid#f1f1f1;
  margin: 10px 0;
  padding: 16px 0;
  font-size: 24px;
  font-weight: 400;
}

.grid__container {
  display: grid;
  padding: 0 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid__house {
  padding: 0 8px;
  margin-bottom: 16px;
  position: relative;
}

.grid__house img {
  position: relative;
  max-width: 363px;
  min-height: 242px;
}

.grid__house h4 {
  position: absolute;
  top: 0;
  padding: 8px 16px;
  background-color: black;
  color: white;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
}


.section__about {
  padding: 32px 16px;
  font-family: 'Open Sans', sans-serif;
}

.section__about h3 {
  border-bottom: 1px solid#f1f1f1;
  margin: 10px 0;
  padding: 16px 0;
  font-size: 24px;
  font-weight: 400;
}

.section__about p {
  margin: 15px 0;
  line-height: 1.5;

}

.grid__biography {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid__biography div {
  padding: 0 8px;
  margin-bottom: 16px;
}

.grid__biography div img {
  max-width: 363px;
  min-height: 242px;
}

.grid__biography div h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 10px 0;
}

.grid__biography h4 {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  opacity: 0.60;
  margin: 15px 0;
}

.grid__biography p {
  margin: 15px 0;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

.grid__biography div button {
  padding: 8px 16px;
  background-color: #f1f1f1;
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.grid__biography div button:hover{
  background-color: rgba(128, 128, 128, 0.334);
}

.contact{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid#f1f1f1;
  margin: 10px 0;
  padding: 16px 0;
  font-size: 24px;
}
.contact__container{
  padding: 32px 16px;
}

.contact__form{
  margin: 15px 0;
  font-family: 'Arimo', sans-serif;
}

.contact__container form input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  font-family: 'Arimo', sans-serif;
}

form div:nth-child(2){
  margin: 16px 0;
}
form div:nth-child(4){
  margin: 16px 0;
}

form button{
  color: #fff;
  background-color: black;
  padding: 8px 16px;
  margin: 16px 0;
  font-family: 'Arimo', sans-serif;
  border: none;
  cursor: pointer;
}

form button:hover{
  background-color: rgba(128, 128, 128, 0.334);
  color: black;
}

.img img{
  width: 100%;
}

footer{
  background-color: black;
  padding: 16px 0;
  text-align: center;
}
.footer{
  margin: 15px;
  color: #fff;
  font-family: 'Jost', sans-serif;

}
.footer a{
  color: #fff;
}
.footer a:hover{
  color: green;
}

@media(max-width: 992px) {
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 600px) {
  .grid__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media(max-width: 992px) {
  .grid__biography {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media(max-width: 600px){
  .grid__biography {
    grid-template-columns: repeat(1, 1fr);
  }
}